ul.nav.navbar-nav
  li = link_to 'Update your Profile', author_profile_dashboard_path
  li = link_to 'List of blogs',       author_blogs_dashboard_path
  li = link_to 'Write a new blog',    new_blog_dashboard_path
