ul.nav.navbar-nav
  li = link_to 'Update your Profile', my_profile_authors_dashboard_path
  li = link_to 'List of blogs',       my_blog_authors_dashboard_path
  li = link_to 'Write a new blog',    new_blog_authors_dashboard_path
