.section-1 {
	height: 600px;
	background: image-url("home/section-1.jpg");
	background-size: cover;
}

.section-2 {
	height: 510px;
	background: #0288d1;
}

.section-3 {
	height: 530px;
	background: #f1f5f7;
}

.section-4 {
	height: 444px;
	border-top: 5px solid #0097a7;
	background: #00bcd4;
}

.section-5 {
	height: 530px;
	background: image-url("home/section-5.jpg");
	background-size: cover;
}

.section-6 {
	height: 630px;
	background: #f1f5f7;
}