.blogs-index-container {
	min-height: 1010px;

	.search-wrap {
	  margin-top: 50px;

	  a.btn-raised {
  	  height: 35px;
		  line-height: 20px;
		  margin-top: -7px;
	  }
	}

	.blogs-wrap {
		.blog-box {
		  margin-top: 30px;
	    margin-bottom: 10px;
		}

		.pagination {
		  margin-top: 50px;
			float: right;

			a {
				color: #212121;
				background-color: #FFF;
			}

			em {
			  cursor: default;
				color: #FFF;
				background-color: #00bcd4;
			}

			a, em {
			  margin-left: 7px;
			  line-height: 20px;
			  text-align: center;
			  display: inline-block;
				width: 20px;
				height: 20px;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;
				-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.4);
				-moz-box-shadow: 0 2px 6px rgba(0,0,0,.4);
				box-shadow: 0 2px 6px rgba(0,0,0,.4);
			}

			.previous_page, .next_page {
				display: none;
			}
		}
	}
}