.blogs-new-container {
	.blog-form {
		span.publish {
			float: left;
			color: #000;
		}

		span.toggle {
		  margin-left: 15px;
		}

		.input-wrap, .controls {
			margin-top: 30px;
		}

		#cke_blog_content {
			margin-top: 10px;
		}

	  .controls {
	  	text-align: right;

	  	.btn-raised {
	  		margin: 0;
	  	  height: 36px;
  			line-height: 20px;
	  	}
	  }

	  .cover-photo {
	  	.img-label {
	  		color: #000;
	  	}

	  	.label-wrap {
  		  padding: 0;
	  	}

	  	.preview {
  		  width: 110px;
			  height: 79px;
	  	}

	  	.file-name {
	  		color: #000;
	  	}

	  	.button-wrap {
		  	a {
	  		  width: 110px;
				  padding: 7px;
				  height: 30px;
				  color: #00bcd4;
				  font-size: 12px;
		  		margin-top: 0;
		  	}
	  	}
	  }
	}
}