.author.container {
	.content-box {
		 margin: 70px 0;
		padding-bottom: 30px;
		width: 100%;
  	display: inline-block;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.25);
		-moz-box-shadow: 0 2px 6px rgba(0,0,0,.25);
		box-shadow: 0 2px 6px rgba(0,0,0,.25);

		a.btn.delete {
		  margin-top: 35px;
		  margin-left: 8px;
		  height: 35px;
		  color: #FFF;
		  background-color: #727272 !important;
		  line-height: 20px;
		}

		ul.nav {
			width: 100%;
			display: block;
  		border-bottom: 1px solid #e5e5e5;

			li {
			  width: 230px;
			  text-align: center;

				a {
					text-transform: uppercase;
					color: #727272;

					&:hover, &:active {
						color: #00bcd4;
					  background-color: transparent;
					}
				}

				&.active {
				  border-bottom: 4px solid #00bcd4;
				}
			}

		}

		.table-wrap {
			padding: 0 25px;
		}

		.table {
		  margin-top: 20px;

			thead th {
				font-size: 16px;
				font-weight: bold;
				color: #212121;
				border-bottom: 0;
			}

			tbody tr {
				border-bottom: 1px solid #e5e5e5;
			  height: 58px;

				td {
					font-size: 14px;
					color: #212121;
					border-top: 0;
				  padding: 0px 8px !important;
				  vertical-align: middle !important;

					.checkbox {
						.checkbox-material:before {
							margin-top: -5px;
						}

						.check {
						  margin-top: -5px;
						  border: 2px solid #7E7E7E;
						}
					}

					input[type=checkbox]:checked + .checkbox-material .check {
	  				border: 2px solid #4CAF50;
	  			}

					label {
						color: #212121;
					}

					a.btn-default {
						width: 70px;
						height: 30px;
					  padding: 8px;
						color: #00bcd4;
						line-height: 14px;
					}
				}
			}
		}

		.blogs-new-container {
		  padding: 0 25px;
		}
	}

	.show-profile-container {
		//* {color: #000;}
	}
}


