.authors-session-container {
  padding-top: 20px;

  .input-wrap {
    margin: 10px 0;
  }

  .controls {
    margin: 20px 0;

    a.btn.btn-info.btn-raised {
      height: 35px;
      padding: 3px 25px;
    }
  }

}
