.container {
  width: 1140px;
}

.navbar.navbar, .navbar-default.navbar {
  height: 90px;
  width: 100%;
  margin-bottom: 0;
  background-color: #00bcd4;
  -webkit-box-shadow: 0 8px 5px rgba(0,0,0,.25);
  -moz-box-shadow: 0 8px 5px rgba(0,0,0,.25);
  box-shadow: 0 8px 5px rgba(0,0,0,.25);
  position: fixed;
  z-index: 9999;

  .navbar-collapse {
  	height: 90px !important;

  	.navbar-right, .navbar-right * {
  		height: 100%;
  	}

  	a {
		  min-width: 60px;
		  font-size: 16px;
		  line-height: 45px;

	  	&:hover:after {
		    width: 100%;
			  height: 5px;
			  padding: 0 15px;
			  position: relative;
			  top: 20px;
			  display: block;
			  background-color: #FFF;
			  content: "";
	  	}
  	}
  }
}


.modal-dialog {
  margin-top: 130px;

  .modal-header {
    padding: 14px 24px;
    background-color: #00bcd4 !important;
  }

  .modal-body {
    padding-top: 20px;

    .bootstrap-dialog-message {
      color: #010101;
    }
  }
}



// Bootstrap
.col-xs-offset-right-12 { margin-right: 100%; }
.col-xs-offset-right-11 { margin-right: 91.66666667%; }
.col-xs-offset-right-10 { margin-right: 83.33333333%; }
.col-xs-offset-right-9  { margin-right: 75%; }
.col-xs-offset-right-8  { margin-right: 66.66666667%; }
.col-xs-offset-right-7  { margin-right: 58.33333333%; }
.col-xs-offset-right-6  { margin-right: 50%; }
.col-xs-offset-right-5  { margin-right: 41.66666667%; }
.col-xs-offset-right-4  { margin-right: 33.33333333%; }
.col-xs-offset-right-3  { margin-right: 25%; }
.col-xs-offset-right-2  { margin-right: 16.66666667%; }
.col-xs-offset-right-1  { margin-right: 8.33333333%; }
.col-xs-offset-right-0  { margin-right: 0; }

@media (min-width: 768px) {
  .col-sm-offset-right-12 { margin-right: 100%; }
  .col-sm-offset-right-11 { margin-right: 91.66666667%; }
  .col-sm-offset-right-10 { margin-right: 83.33333333%; }
  .col-sm-offset-right-9  { margin-right: 75%; }
  .col-sm-offset-right-8  { margin-right: 66.66666667%; }
  .col-sm-offset-right-7  { margin-right: 58.33333333%; }
  .col-sm-offset-right-6  { margin-right: 50%; }
  .col-sm-offset-right-5  { margin-right: 41.66666667%; }
  .col-sm-offset-right-4  { margin-right: 33.33333333%; }
  .col-sm-offset-right-3  { margin-right: 25%; }
  .col-sm-offset-right-2  { margin-right: 16.66666667%; }
  .col-sm-offset-right-1  { margin-right: 8.33333333%; }
  .col-sm-offset-right-0  { margin-right: 0; }
}

@media (min-width: 992px) {
  .col-md-offset-right-12 { margin-right: 100%; }
  .col-md-offset-right-11 { margin-right: 91.66666667%; }
  .col-md-offset-right-10 { margin-right: 83.33333333%; }
  .col-md-offset-right-9  { margin-right: 75%; }
  .col-md-offset-right-8  { margin-right: 66.66666667%; }
  .col-md-offset-right-7  { margin-right: 58.33333333%; }
  .col-md-offset-right-6  { margin-right: 50%; }
  .col-md-offset-right-5  { margin-right: 41.66666667%; }
  .col-md-offset-right-4  { margin-right: 33.33333333%; }
  .col-md-offset-right-3  { margin-right: 25%; }
  .col-md-offset-right-2  { margin-right: 16.66666667%; }
  .col-md-offset-right-1  { margin-right: 8.33333333%; }
  .col-md-offset-right-0  { margin-right: 0; }
}

@media (min-width: 1200px) {
  .col-lg-offset-right-12 { margin-right: 100%; }
  .col-lg-offset-right-11 { margin-right: 91.66666667%; }
  .col-lg-offset-right-10 { margin-right: 83.33333333%; }
  .col-lg-offset-right-9  { margin-right: 75%; }
  .col-lg-offset-right-8  { margin-right: 66.66666667%; }
  .col-lg-offset-right-7  { margin-right: 58.33333333%; }
  .col-lg-offset-right-6  { margin-right: 50%; }
  .col-lg-offset-right-5  { margin-right: 41.66666667%; }
  .col-lg-offset-right-4  { margin-right: 33.33333333%; }
  .col-lg-offset-right-3  { margin-right: 25%; }
  .col-lg-offset-right-2  { margin-right: 16.66666667%; }
  .col-lg-offset-right-1  { margin-right: 8.33333333%; }
  .col-lg-offset-right-0  { margin-right: 0; }
}