body * {
	font: 14px "Roboto";
}

.main-menu {
	height: 100%;
}

.navbar-brand {
	margin-top: 10px;
}

main {
	.btn.btn-info {
	  background-color: #00bcd4 !important;
	  color: #FFF !important;
	}
}

footer {
	.informations {
		height: 240px;
		background: #00bcd4;
	}

	.copyright {
		height: 60px;

		p {
			color: #00bcd4;
		  text-align: center;
		  padding-top: 23px;
		}
	}
}