header {
	.banner-wrap {
		min-height: 190px;
	  padding-top: 22px;
    margin-top: 90px;
	  display: inline-block;
	  width: 100%;
		background: image-url("share/banner.jpg");

		.row {
			padding: 0 15px;
		}

		h1 {
			font-size: 36px;
			font-weight: 100;
		}

		hr {
			width: 350px;
		  height: 1px;
		  margin: 0 0 13px 0;
		  background-color: #FFF;
		}
	}
}

body {
	background-color: #FFF;

	* {
		font: 14px "Roboto";
		color: #FFF;
		text-decoration: none;
		list-style: none;
	}
} 

.main-menu {
	height: 100%;
}

.navbar-brand {
	margin-top: 5px;
}

main {
	.btn.btn-info.btn-raised {
	  background-color: #00bcd4 !important;
	  color: #FFF !important;
    height: 45px;
		line-height: 30px;

	  &:active, &:visited {
	    opacity: 0.8;
	  }
	}
}

footer {
	.informations {
		height: 260px;
	  padding-top: 39px;
		background: #00bcd4;

		a, a:hover, a:active, a:visited {
			color: #FFF;
			text-decoration: none;
		}

		.contacts {
			p {
			  display: flex;
				
				i.fa {
					margin-right: 10px;
				  min-width: 14px;
				}
			}

			.hotline {
			  margin-top: 25px;
		    margin-bottom: 6px;
			}
		}

		.static-pages {
		  padding-left: 90px;

		  li {
	  	  margin-bottom: 4px;
		  }
		}

		.social-wrap {
	    padding-right: 50px;

			a.social {
				height: 36px;
			  width: 36px;
		    margin-bottom: 20px;
		    margin-right: 20px;
			  display: inline-block;
			  border: 2px solid #FFF;

			  i.fa {
		  	  font-size: 20px;
				  margin: 6px auto;
				  display: table;
			  }
			}
		}

		.subcribe-wrap {
			p.describe {
				line-height: 20px;
			}

			.form-control {
				background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#FFFFFF, #FFFFFF);

				&:focus ~ .floating-label {
					color: #FFF;
					padding-left: 0px;
				}
			}

			.floating-label {
				color: #FFF;
				padding-left: 16px;
				font-size: 12px;
			}

		}	

		.controls {
			text-align: right;
		  padding-right: 15px;

		  .btn {
			  margin-top: 15px;
		  }

			.btn.btn-default.btn-raised {
			  background-color: #FFF !important;
			  color: #00a8cb !important;
			}
		}

		.nav-bottom-wrap {
			padding: 0 15px;
			
			.nav-bottom {
			  border-top: 1px solid #FFF;
			  margin-top: 12px;
	      padding-top: 23px;
		    text-align: center;

			  li {
		  	  display: inline;
				  padding: 0 24px;

				  a {
				  	font-size: 16px;
				  }
			  }
			}
		}
	}

	.copyright {
		height: 60px;

		p {
			color: #00bcd4;
		  text-align: center;
		  padding-top: 23px;
		}
	}
}


.blog-box {
	height: 350px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,.25);
	box-shadow: 0 2px 6px rgba(0,0,0,.25);

	.blog-img-wrap {
	  height: 200px;
		position: relative;
		
		> img {
			position: absolute;
		  width: 100%;
		  height: 100%;
	    -webkit-border-top-left-radius: 3px;
		  -webkit-border-top-right-radius: 3px;
		  -moz-border-radius-topleft: 3px;
		  -moz-border-radius-topright: 3px;
		  border-top-left-radius: 3px;
		  border-top-right-radius: 3px;
		}

		img.author {
			position: absolute;
		  width: 48px;
		  height: 48px;
		  border-radius: 50%;
		  border: 1px solid #FFF;
		  bottom: -23px;
		  right: 10px;
		}
	}

	.blog-brief {
	  padding: 0 19px;

		.category-name {
		  margin-top: 14px;
			font-weight: 400;
			font-size: 12px;
			color: #b6b6b6;
		}

		.blog-title {
		  margin-top: 6px;
			font-weight: 400;
			font-size: 16px;
			color: #212121;
		}

		.blog-intro {
		  margin-top: 14px;
			font-size: 14px;
			color: #727272;
		}
	}
}













