/ h3 Default button
/ = link_to 'Default','javascript:', class: 'btn btn-default'
/ = link_to 'Primary','javascript:', class: 'btn btn-primary'
/ = link_to 'Success','javascript:', class: 'btn btn-success'
/ = link_to 'Info', 	'javascript:', class: 'btn btn-info'
/ = link_to 'Warning','javascript:', class: 'btn btn-warning'
/ = link_to 'Danger', 'javascript:', class: 'btn btn-danger'
/ = link_to 'Link',   'javascript:', class: 'btn btn-link'

/ h3 Flat buttons
/ = link_to 'Default','javascript:', class: 'btn btn-flat btn-default'
/ = link_to 'Primary','javascript:', class: 'btn btn-flat btn-primary'
/ = link_to 'Success','javascript:', class: 'btn btn-flat btn-success'
/ = link_to 'Info', 	'javascript:', class: 'btn btn-flat btn-info'
/ = link_to 'Warning','javascript:', class: 'btn btn-flat btn-warning'
/ = link_to 'Danger', 'javascript:', class: 'btn btn-flat btn-danger'
/ = link_to 'Link', 	'javascript:', class: 'btn btn-flat btn-link'

javascript:
	$(function() {
    $.material.init();
	});
	