title
  | Localtag
meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
= favicon_link_tag
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Roboto:400,900italic,700italic,500italic,300,100,500,900,700,100italic,300italic,400italic' 	
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= javascript_include_tag "//wurfl.io/wurfl.js"
= javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false&key=#{ ENV["GOOGLE_MAP_API_KEY"] }'

= csrf_meta_tags