doctype html
html
	head
		= render 'layouts/declare'

	body class="#{ smooth_scroll? }"
		.page-wrap
			header
				= render 'layouts/header'

			main
				= yield

			footer
				= render 'layouts/footer'

	= render 'layouts/flash_message'


javascript:
	$(function() {
		$.material.init();

		$('.submit-now').click(function(){
			$(this).closest('form').submit();
		})

		setTimeout(function(){
			$('.no-autocomplete').removeAttr('disabled')

		  if (WURFL.form_factor != 'Desktop') {
		    $("body").removeClass('smooth_scroll')
		  }
	  }, 500);

	});

javascript:
	function fake_click(obj) {
    $(obj).next().trigger('click')
  }

  function readURL(input) {
    file = input.files[0]
    var size = file.size/1024/1024;
    if (input.files && file && size <= 2) {
      var reader = new FileReader();

      reader.onload = (function(data) {
        return function(e) {
          var uploader = $(input).closest('.uploader-wrap')
          $(uploader).find('img.preview').attr('src', e.target.result)
          $(uploader).find('span.file-name').text(data.name)
        };
      })(file);
      reader.readAsDataURL(file);
    }
  }


